   Base styles: opinionated defaults
/* ==========================================================================
   ========================================================================== */

@import "__spacing.css"; /* Using Tachyons spacing */

html,
body {
  color: #222;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin:100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * 
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}



#container {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  /*max-width: 1440px;*/
  margin: 0 auto;
}

main {
  flex: 1;
  overflow: auto;
}

/* The hero image */
.hero-image {
  background-image: url("../img/hero-beach.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  padding-right: 120px;
  padding-left: 140px;
}

.header__logo {
  height: 32px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.footer__items a {
  font-weight: 500;
  color: #222;
  text-decoration: none;
}

/* ==========================================================================
  Add your CSS here 
   ========================================================================== */

section {
  overflow: auto;
  border-bottom: 2px solid;
  background: white;
  padding-bottom: 64px;
  font-family: 'roboto';
  

}

section h2 {
  padding-top:54px;
  padding-bottom: 47px;
}

.boxParent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

h1 {
  font-style: 'Bold';
  font-size: 48px;
  margin: 200px 0px 100px 135px;
  font-family: 'Roboto';
  letter-spacing: 0.05em;

}

h2 {
  font-style: 'Bold';
  font-size: 36px;
  font-family: 'Roboto';

}

.hero-banner span {
    background-color: white;
    padding: 8px;
    margin-top: 77px;
    padding-right: 35px;
    padding-left: 18px;
}

.boxParentMission{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 124px;

}

.boxParentMission h2{
  padding-top: 54px;
 
}

.boxParentMission p{
  width: 602px;
  height: 197px;
  font-size: 24px;
  letter-spacing: 0.03em;

}


/* Communities */


.boxTitle {
  font-family: Roboto;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;


}


.fullBox {
  background-color: #F2C94C;
  width: 587px;
  height: 216px;
  position: relative;


}

.boxParent .fullBox:nth-child(2) {
  background: #83AFED;
}


.fullBox .CTA {
  background-color: #000000;
  color:white;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom:0;
  height: 50px;
  vertical-align: middle;
  height: 59px;

}

section h2 {
  padding-top: 25px;
  padding-bottom: 25px;
}





.fullBox .CTA p{

 position: relative;
 bottom: 5px;
 left: 20px;
 width: 200px;


}

.fullBox .boxTitle {
  position: absolute;
  bottom: 60px;
  font-style: bold;
  padding-left: 20px;

}

#allSections{
  margin: 0px 122px 0px 123px;
}

.missionImage img {
  width: 483px;
  margin-top: 74px;

}

section p {
  font-size: 24px;
}


.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 224px;
  height: 78px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 111px;
  margin-top: 42px;
}

#threeYellowBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 41px;
}

#threeBlueBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:41px;
}

.blueBox {

  /* Element 1 */
background-color: #83AFED;
width: 345px;
height: 550.25px;
margin-top: 50px;
position: relative;

}

.yellowBox {

  /* Element 1 */
background-color: #F2C94C;
width: 345px;
height: 550.25px;
position: relative;

}

.category {

font-size: 18px;
letter-spacing: 0.03em;
color: #4F4F4F;
padding: 22.52px 13px 0 23px;

}

.title{

  /* Why you need Bananas in your life */

font-weight: bold;
font-size: 24px;
letter-spacing: 0.03em;
color: #000000;
padding: 32.31px 21px 0 21px;

}

.yellowBox img {
  position: absolute;
  width: 100%;
  width: 345px;
  height: 350px;
  bottom: 0px;
}

.blueBox img {
  position: absolute;
  width: 100%;
  width: 345px;
  height: 350px;
  bottom: 0px;
}

i {
  font-size: 36px;
  letter-spacing: 20px;
}

footer svg {
  padding-left: 40px;
  padding-right: 15px;

}


footer a {
  padding-right: 55px;
}


/* Hamburger Menu*/


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  margin-left: -258px;
  width: 320px;
  height: 350px;
  margin-top: 7px;



}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding-top: 31px;
  padding-left: 23px;
  text-decoration: none;
  display: block;
  height: 50px;
  
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

button {
      font-size: 47px;
      border-color: white;
}


#myDropdown a {
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 34px;
letter-spacing: 0.03em;
text-transform: uppercase;
}





/* ========================================================================== ========================================================================== */



   /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
